* {
  margin: 0; padding: 0;
}
body {
  background-color: #fff;
  overflow: hidden;
}
::-webkit-scrollbar {
    display: none;
}
li {
cursor:pointer

}

/*//// SIDE BAR ////*/
nav.side_bar {
  position: absolute;
  z-index: 10;
  background: grey;
  padding: 0 0 0 0;

  -webkit-box-shadow: 0 0px 16px 6px rgba(63, 81, 181, 0.55);
  -moz-box-shadow: 0 0px 16px 6px rgba(63, 81, 181, 0.55);
  box-shadow: 0 0px 16px 6px rgba(63, 81, 181, 0.55);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;

  width: 5.8rem;
  height: 100vh;
}
/*Logo*/
nav.side_bar > div.logo {
  background-color: #5E35B1;
  margin: 0;
  padding: 0;
  outline: 0;
  height: 12vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
nav.side_bar > div.logo > img {
    height: 70%;
}
/*Color Option*/
nav.side_bar > ul.nav_choose_color {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  outline: 0;
  height: 49vh;
  background-color: #3F51B5;

  display: flex;
  align-items: center;
	flex-direction: column;
  justify-content: space-around;
}
nav.side_bar > ul.nav_choose_color li {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 25%;
  background-color: red;
}
nav.side_bar > ul.nav_choose_color li:nth-child(1) {background-color: #E91E63;}
nav.side_bar > ul.nav_choose_color li:nth-child(2) {background-color: #F44336;}
nav.side_bar > ul.nav_choose_color li:nth-child(3) {background-color: #9b59b6;}
nav.side_bar > ul.nav_choose_color li:nth-child(4) {background-color: #03A9F4;}
nav.side_bar > ul.nav_choose_color li:nth-child(5) {background-color: #009688;}
/*Nav Option*/
nav.side_bar > ul.nav_choose_pen {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  outline: 0;
  height: 39vh;
  background-color: #3949AB;

  display: flex;
  align-items: center;
	flex-direction: column;
  justify-content: space-around;
}
nav.side_bar > ul.nav_choose_pen li {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 25%;
  background-color: #607D8B;
  position: relative;
}
nav.side_bar > ul.nav_choose_pen li img  {
  width: 1.5rem;
  position: absolute;
  top: .45rem;
  left: .45rem;
}

/*//// PAINT ZONE ////*/
section:hover
{
  cursor: crosshair;
}
section.paint_div
{
    padding: 0 0 0 5.8rem;
}
section.paint_div > div.paint_line {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap-reverse;
}

section.paint_div > div.paint_line  div {

}

section.paint_div > div.paint_line  div:hover {
  background-color: rgba(0, 0, 0, 0.1)!important;
}
